<form action="/bikes" method="POST">
    <input type="text" name="name" placeholder="Yous Bike G"></input>
    <input type="text" name="gears" placeholder="Yous Bike gears"></input>
    <input type="text" name="specs" placeholder="Yous Bike specs"></input>
    <input type="text" name="images" placeholder="Yous Bike pics"></input>
    <input type="submit" value="add you bike">
</form>